.header, .navbar-brand, .navbar-toggle, .header-logo{
    line-height: 64px;
}

.header {
    background-color: #f39c12;
    height: 64px;
    padding-bottom: 0;
    border-style: none;
}

.header .navbar-collapse.in{
    background-color: inherit;
}
.header .navbar-collapse.collapsing{
    background-color: inherit;
}

.navbar-brand{
    padding: 0;
}

.navbar-toggle .icon-bar{
    background-color: #34495e;
}

.navbar-toggle:hover{
    background-color: #f1c40f;
}

.navbar-form{
    margin-top: 0;
}

.header-logo{
    font-size: 42px;
    margin: 0 16px;
    color: #34495e;
}

.header-logo > a{
    text-decoration: none;
}

.header-logo > a:hover{
    color: #425d77;
    text-decoration: none;
}

.header-user{
    margin-right: 16px;
}

.header-user a{
    color: #34495e;
    text-decoration: none;
}

.header-user a:hover{
    color: #425d77;
    text-decoration: none;
}
