.header, .navbar-brand, .navbar-toggle, .header-logo{
    line-height: 64px;
}

.header {
    background-color: #f39c12;
    height: 64px;
    padding-bottom: 16px;
    border-style: none;
}

.header .navbar-collapse.in{
    background-color: inherit;
}
.header .navbar-collapse.collapsing{
    background-color: inherit;
}

.navbar-brand{
    padding: 0;
}

.navbar > .container .navbar-brand{
    margin-left: auto;
}

.navbar-toggle .icon-bar{
    background-color: #34495e;
}

.navbar-toggle:hover{
    background-color: #f1c40f;
}

.navbar-form{
    margin-top: 0;
}

.header{
    color: #34495e;
}

.header a{
    color: #34495e;
    text-decoration: none;
    font-weight: bold;
}

.header a:hover{
    color: #425d77;
    text-decoration: none;
}

.header-logo{
    font-size: 42px;
    margin: 0 16px;
}

.header-user{
    margin-right: 16px;
}

.navbar-collapse{
    text-align: center;
}

.buscarusuario .buscarusuarioinput{
    display: inline-block;
    width: 35%;
}

