.login-panel{
    /*background-color: #34495e;*/
    /*color: #f39c12;*/
    background-color: #f39c12;
    color: #34495e;
    padding: 0 12px 0 12px;
    border-radius: 6px;
    margin: 0 0 10px;
}

.login-panel-buttons{
    padding: 0 12px;
}