.sidebar{
    background-color: #f39c12;
    color: #34495e;
    z-index: 2;
    top: 64px;
    width: inherit;
    padding-bottom: 16px;
}

.sidebar li a{
    color: #34495e;
}

.sidebar li a:hover{
    color: #f39c12;
    font-weight: bold;
    background-color: #34495e;
}

.sidebar .left{
    right: 0;
}

.posts-container{
    background-color: #ecf0f1;
}