.sidebar{
    background-color: #f39c12;
    color: #34495e;
    z-index: 2;
    width: 100%;
    padding-bottom: 16px;
    padding-top: 16px;    
}

.perfil{
    text-align: center;
    padding-top: 16px;
}

.perfil p{
    margin: 16px 0 16px 0;
}

.panel-default > .panel-heading, .panel-footer{
    background-color: inherit;
}

.panel-default{
    border-radius: 0;
}

.panel-heading{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.panel-footer{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.formnovopost{
    border-radius: 0;
    margin-bottom: 20px;
}
