<nav class="navbar navbar-fixed-top header" ng-controller="HeaderCtrl as header">
    <script type="text/ng-template" id="itemTemplate.html">
        <a class="dropdown-item">{{match.model.nome}}</a>
    </script>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#timeline-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand header-logo" href="#">Hsahusauh</a>
        </div>

        <div class="collapse navbar-collapse buscarusuario" id="timeline-collapse" ng-controller="BuscarusuarioCtrl">
            <div class="navbar-form buscarusuarioinput">
                <input type="text" class="form-control" 
                ng-model="usuarioSelecionado"
                placeholder="Buscar Usuário"
                typeahead="usuario.nome as nome for usuario in usuarios|filter:{nome:$viewValue}"
                typeahead-min-length='3'
                typeahead-wait-ms="500"
                typeahead-on-select="onSelect($item, $model, $label)"
                typeahead-template-url="itemTemplate.html">
            </div>

            <div class="navbar-right header-user">
                <div ng-hide="user.nome">
                    Bem vindo, faça <a href="#/login">Login</a> ou <a href="#/registrar">Registre-se</a>
                </div>            
                <div ng-show="user.nome">
                    <a href="#/user"><strong>{{user.nome}}</strong></a>
                    <a href="" ng-click="deslogar()">Logout</a>
                </div>
            </div>            
        </div>
    </div>
</nav>
