<div class="row">
    <div class="col-md-8">
        <div class="jumbotron">
            <h2>Bem-vindo à Timeline</h2>
            <p>Entre e descubra o que seus amigos estão compartilhando.</p>
            <p>Ainda não se registrou? <a href="#/registrar">Registre-se agora</a>, é totalmente grátis e não demora nada =].</p>
            <p>Você também pode entrar usando suas contas das redes sociais, sqn :(</p>
            <p>{{retornoLogin}}</p>
        </div>
    </div>
    <div class="col-md-3 login-panel">
        <form class="form-horizontal">
            <h2>Login</h2>
            <div class="form-group">
                <label class="col-md-3 control-label" for="username">Usuário</label>
                <div class="col-md-9">
                    <input class="form-control" type="text" id="username" name="username" placeholder="Digite seu username" ng-model="user.username">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="pass">Senha</label>
                <div class="col-md-9">
                    <input class="form-control" type="password" id="pass" name="pass" placeholder="Digite sua senha" ng-model="user.pass">
                </div>
            </div>
            <div class="login-panel-buttons">
                <div class="form-group">
                    <button class="col-md-offset-8 btn btn-default" type="button" ng-click="logar(user)">
                        Entrar <span class="glyphicon glyphicon-log-in"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
