<div class="registro-panel" style="background-color: #ffffff">
<h3>Registrar</h3>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="nome" class="col-md-2 control-label">Nome:</label>
        <div class="col-md-3">
            <input class="form-control" type="text" id="nome" placeholder="Digite o seu nome">
        </div>
    </div>
    <div class="form-group">
        <label for="sobrenome" class="col-md-2 control-label">Sobrenome:</label>
        <div class="col-md-3">
            <input class="form-control" type="text" id="sobrenome" placeholder="Digite o seu nome">
        </div>
    </div>
    <div class="form-group">
        <label for="usuario" class="col-md-2 control-label">Usuário:</label>
        <div class="col-md-3">
            <input class="form-control" type="text" id="usuario" placeholder="Digite o seu nome de usuário">
        </div>
    </div>
    <div class="form-group">
        <label for="datanascimento" class="col-md-2 control-label">Data de Nascimento:</label>
        <div class="col-md-3">
            <input class="form-control" type="date" id="datanascimento">
        </div>
    </div>
    <div class="form-group">
        <label for="senha0" class="col-md-2 control-label">Senha:</label>
        <div class="col-md-3">
            <input class="form-control" type="password" id="senha0" placeholder="Digite a sua senha">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3 col-md-offset-2">
            <input class="form-control" type="password" id="senha1" placeholder="Redigite a sua senha">
        </div>
    </div>

</form>
</div>
