<div class="col-md-5 col-md-offset-1">
    <div class="jumbotron painel">
        <h2>Registre-se</h2>
        <p>É muito facil, basta preencher os campos ao lado.</p>
        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis.
            Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.
            Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é
            amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris
            qui num significa nadis i pareci latim.</p>
    </div>
</div>
<div class="col-md-5">
    <div class="painel painel-form">
        <h2>Digite seus dados</h2>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="nome" class="control-label col-md-4">
                    Nome:
                </label>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="nome"
                           placeholder="Digite o seu nome">
                </div>
            </div>
            <div class="form-group">
                <label for="sobrenome" class="control-label col-md-4">
                    Sobrenome:
                </label>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="sobrenome"
                           placeholder="Digite o seu Sobrenome">
                </div>
            </div>
            <div class="form-group">
                <label for="usuario" class="control-label col-md-4">
                    Usuário:
                </label>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="usuario"
                           placeholder="Digite o seu nome de usuário">
                </div>
            </div>
            <div class="form-group">
                <label for="datanascimento" class="control-label col-md-4">
                    Data de Nascimento:
                </label>
                <div class="col-md-4">
                    <input class="form-control" type="date" id="datanascimento">
                </div>
            </div>
            <div class="form-group">
                <label for="senha0" class="control-label col-md-4">
                    Senha:
                </label>
                <div class="col-md-5">
                <input class="form-control" type="password" id="senha0"
                       placeholder="Digite a sua senha">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5 col-md-offset-4">
                <input class="form-control" type="password" id="senha1"
                       placeholder="Redigite a sua senha">
                </div>
            </div>
        </form>
    </div>
</div>
