<div class="row">
    <div class="col-md-3">
        <div class="sidebar" ng-show="user.nome">
            <div class="perfil">
                <img src="images/anon_user.png" class="foto-perfil" alt="Foto perfil"
                        height="120" width="120">
                <p>{{user.nome}}</p>
            </div>
            <ul class="nav">
                <li><a href="">Novo Post</a></li>
                <li><a href="">Perfil</a></li>
                <li><a href="">Ferramentas</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="posts-container">

        </div>
    </div>

</div>