<div class="row">
    <div class="col-md-3">
        <div class="sidebar affix" ng-show="user.nome">
            <h3>{{user.nome}}</h3>
            <ul class="nav">
                <li><a href="">Novo Post</a></li>
                <li><a href="">Perfil</a></li>
                <li><a href="">Ferramentas</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="posts-container">
            <h2>Hello, this is the user view 1</h2>
            <h2>Hello, this is the user view 2</h2>
            <h2>Hello, this is the user view 3</h2>
            <h2>Hello, this is the user view 4</h2>
            <h2>Hello, this is the user view 5</h2>
            <h2>Hello, this is the user view 6</h2>
            <h2>Hello, this is the user view 7</h2>
            <h2>Hello, this is the user view 8</h2>
            <h2>Hello, this is the user view 9</h2>
            <h2>Hello, this is the user view </h2>
            <h2>Hello, this is the user view</h2>
            <h2>Hello, this is the user view</h2>
            <h2>Hello, this is the user view</h2>
            <h2>Hello, this is the user view</h2>
            <h2>Hello, this is the user view</h2>
            <h2>Hello, this is the user view</h2>
            <h2>Hello, this is the user view</h2>
            <h2>Hello, this is the user view</h2>
            <h2>Hello, this is the user view</h2>
            <h2>Hello, this is the user view</h2>
        </div>
    </div>

</div>